[Unit]
Description=Mail service which notifies you about George R.R. Martins posts on https://georgerrmartin.com/notablog/
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=whassup_george
Group=whassup_george

WorkingDirectory=/opt/whassup_george
ExecStart=/opt/whassup_george/whassup_george
LoadCredential=smtp-password:/etc/whassup_george/smtp_password

[Install]
WantedBy=multi-user.target
